<%- include("partials/header")%>

<h1>
	This is a home page
</h1>

<a href="/home/new">click to upload image</a>

<div class="container">
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% image.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= campground.image %>">
                   <div class="caption">
                       <h4><%= campground.name %></h4>
                   </div>
					<p>
						<a href="/home/<%= campground._id %>" class="btn btn-primary">More info</a>
					</p>
                </div>
            </div>
        <% }); %>
    </div>
</div>


<%- include("partials/footer")%>